.content .headpic{
  height: 200px;
  overflow: hidden;
  background: linear-gradient(15deg, rgb(60 94 113) 27%, rgb(230 120 66) 51%, rgb(78 123 81) 86%);
}
.content .headpic img{
  width: 100%;
  background-size: cover;
  margin-bottom: .2em;
  box-shadow: 1px 2px 3px #8c8c8c;
  opacity: .7;
}
.user img{
  width: 100%;
  align-self: center;
  justify-self: center;
  }
.user{
  display: grid;
  grid-template-columns: 210px 1fr;
  border: 1px solid #eee;
}
