.imgWrapper {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 50%;
    background: #fff;
}

.userBlock {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    max-width: 920px;
    border: 1px solid #eee;
    margin: 0 auto 5px;
    background: #0095ba;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 7px 0;
}

.userBlock button {
    cursor: pointer;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #545454;
}

.userBlock button:hover {
    box-shadow: 1px 2px 3px #c3c3c3;
    transition: .2s;
}

.userBlock button:active {
    box-shadow: none;
    opacity: .8;
    transition: .2s;
}

.imgWrapper img {
    width: 100px;
}

.userBlock button, .imgWrapper {
    margin: 0 auto;
    width: 100px;
    display: block;
}

.status {
    font-style: italic;
}

.imgWrapper {
    margin-bottom: 5px;
}

.unfollow {
    opacity: .7;
}

.paginationPage {
    margin: 10px;
    text-align: center;
}

.paginationPage span {
    display: inline-block;
    width: 60px;
    height: 30px;
    padding: 3px 10px;
    vertical-align: middle;
    background: #0095ba73;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #a0a0a0;
    margin: 1px;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-transition: all .07s ease-out;
    -o-transition: all .07s ease-out;
    -webkit-transition: all .07s ease-out;
}

.paginationPage span:hover {
    font-weight: bold;
    /*-webkit-transform: scale(1.1);*/
    /*-moz-transform: scale(1.1);*/
    /*-o-transform: scale(1.1);*/
}

.paginationPage span:active {
    box-shadow: 1px 2px 3px #fff;
}
span.selectedPage{
    background: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
span.hide{
    padding: 3px 0px;
    width: 0.02%;
    font-size: 0px;
    margin: 2px 0px;
    box-shadow: none;
}
span.hide:hover{
    width: 60px;
    font-size: 1em;
    margin: 0px;
    border-radius: 0;
}
.fetchingImg{
    position: fixed;
    width: 20%;
    z-index: 1;
    left: 45%;
    top: 30%;
}
.userBlock button:disabled,
.userBlock button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    box-shadow: none;
}