.wrapperForm{
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 3px #b3b3b3;
  padding: 10px;
  margin-top: .2em;
}
.wrapperForm h2{
  margin: 0;
}
.NewPostTextArea{
  width: 90%;
  height: 120px;
  border: 1px solid #dcdcdc;
  box-shadow: 1px 2px 3px #eee;
  border-radius: 4px;
  outline: none;
  resize: none;
  margin-left: 15px;
  padding: 5px;
}
.button{
  cursor: pointer;
  background-color: #eee;
  border: none;
  box-shadow: 1px 2px 3px #000;
  margin-right: 10px;
  margin-left: 15px;
}
.button, .textarea{
  border-radius: 5px;
  padding: 10px 30px;
}
.button:active{
  box-shadow: 1px 2px 3px rgb(255, 255, 255);
  transition: .2s;
}
