.formControl.error input, .formControl.error textarea{
border: 1px solid red;
}
.formControl.error span{
    color: red;
    margin-left: 15px;
}
.formSummaryError{
    border: 1px solid red;
    padding: 3px;
    color: darkred;
    width: 175px;
}