.header{
  grid-area: h;
  background-color: rgb(1 91 113);
  padding: 10px;
}
.header img{
  height: 80px;
}
.header .home{
  color: #fff;
  background-color: inherit;
  font-size: 1.3em;
  display: inline-block;
}
