.header{
  grid-area: h;
  background-color: rgb(255 255 255);
  padding: 7px;
  position: fixed;
  width: 100%;
  left: 0;
  border-bottom: 1px solid #e7e8ec;
}
.header img{
  height: 40px;
}
.header .home{
  color: #fff;
  background-color: inherit;
  font-size: 1.3em;
  display: inline-block;
}
.loginBlock {
  float: right;
  padding: 10px;
  background-color: rgb(47 47 47);
  border-radius: 3px;
  color: #fff;
}


