.wrapper .headpic{
  height: 200px;
  overflow: hidden;
  background: linear-gradient(15deg, rgb(60 94 113) 27%, rgb(230 120 66) 51%, rgb(78 123 81) 86%);
}
.wrapper .headpic img{
  width: 100%;
  background-size: cover;
  margin-bottom: .2em;
  box-shadow: 1px 2px 3px #8c8c8c;
  opacity: .7;
}
.user img{
  width: 100%;
  align-self: center;
  justify-self: center;
  border-radius: 2px;
  }
.user{
  display: grid;
  grid-template-columns: 210px 1fr;
  margin: 10px 0;
  column-gap: 10px;
}
.desription{
  font-size: 19px;
}