.item{
  display: grid;
  grid-template-columns: 150px 1fr;
  box-shadow: 0px 0px 3px 0px #bdbdbd;
  margin: 20px 0 0 0;
  padding: 20px 20px 0px 20px;
  font-style: italic;
}
.item img{
  width: 80%;
  border-radius: 50%;
}
.item span{
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 200px;
}
.item span img{
  width: 20px;
  margin-bottom: 0;
  margin-left: 5px;
  border-radius: 0;
  vertical-align: text-top;
  cursor: pointer;
}
.likeBtn{
display: block;
}