.item{
  display: grid;
  grid-template-columns: 210px 1fr;
  border: 1px solid #eee;
  box-shadow: -1px 3px 2px #bdbdbd;
  margin: 20px 0 0 0;
  padding: 20px 20px 0px 20px;
}
.item img{
  width: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.item span{
  position: relative;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 200px;
}
.item span img{
  width: 20px;
  margin-bottom: 0;
  margin-left: 5px;
  border-radius: 0;
  vertical-align: text-top;
}
.likeBtn{
display: block;
}