.app-wrapper{
  display: grid;
  grid-template-areas: 
  "h h "
  "n c "
  "f f ";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: .2em;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

*{
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content-wrapper{
  grid-area: c;
  background-color: #e3f7ff8f;
  padding: 0 10px;
  border-right: 7px solid #0095ba;
}
.message_inner{
  font-style: italic;
}
.active{
  display: block;
  background-color: rgb(204 239 144);
}